Biometria_LinkTic/Service References/ServiceReferenceBio/ServicioBiometrico42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://biometrico.4-72.com.co:472/ServicioBiometrico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioBiometrico472" />
  <xs:element name="RegistrarProceso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioBiometrico472" minOccurs="0" name="value" nillable="true" type="q1:Solicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarProcesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioBiometrico472" minOccurs="0" name="RegistrarProcesoResult" nillable="true" type="q2:RespuestaSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parametrizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioBiometrico472" minOccurs="0" name="value" nillable="true" type="q3:SolicitudParametrizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParametrizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioBiometrico472" minOccurs="0" name="ParametrizacionResult" nillable="true" type="q4:RespuestaParametrizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>